<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Tracker</title>
    <link rel="stylesheet" href="/entrega2/assets/css/home.css">
</head>
<body>
    <header>
        <div class="container header-container">
            <h1>Game Tracker</h1>
            <nav>
                <ul>
                    <li><a href="home.html">Inicio</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <section id="home">
            <h2 class="bienvenido">Bienvenido al Game Tracker</h2>
            <p>
                Este sitio te ayuda a llevar un <b>seguimiento</b> de tu progreso en tus videojuegos favoritos. 
                Haz un <i>click</i> en cada sección para ver más detalles.
            </p>
            <hr>
            <figure>
                <a href="valo.html">
                    <img class="juego" src="/entrega2/assets/imgs/valo-logo.png" width="400">
                </a>
                <a href="cs2.html">
                    <img class="juego" src="/entrega2/assets/imgs/cs-logo.png" width="400">
                </a>
            </figure>
            <figcaption>Seleciona tu juego.</figcaption>
        </section>

        <section id="settings">
            <h2>Configuraciones</h2>
            <p>Ajusta las preferencias de tu cuenta:</p>
            <ul>
                <li>Notificaciones</li>
                <li>Preferencias de idioma</li>
                <li>Modo oscuro</li>
            </ul>
        </section>
        <div class="validacion">
            <p>
                <a href="http://jigsaw.w3.org/css-validator/check/referer">
                    <img style="border:0;width:88px;height:31px"
                        src="http://jigsaw.w3.org/css-validator/images/vcss-blue"
                        alt="¡CSS Válido!" />
                </a>
            </p>
        </div>
    </main>

    <footer>
        <p>&copy; 2024 Game Tracker. Todos los derechos reservados.</p>
    </footer>

    <script src="/~marcelo.vidal/DesWeb/Proyecto/entrega2/assets/JS/script.js"></script>
</body>
</html>
