<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Tracker</title>
    <link rel="stylesheet" href="../assets/css/styles.css">
    <link rel="stylesheet" href="../assets/css/cs2.css">
    <!-- bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
</head>
<body>
    <header>
        <div class="container header-container">
            <nav id="csref">
            <h1><a href="home.html">Game Tracker</a></h1>
            </nav>
        </div>
    </header>
    <main>
        <section id="home">
            <hr>
            <figure>
                <a href="valo.html">
                    <img class="juego" src="../assets/imgs/valo-logo.png" width="400">
                </a>
                <a href="cs2.html">
                    <img class="juego" src="../assets/imgs/cs-logo.png" width="400">
                </a>
            </figure>
            <figcaption>Seleciona tu juego.</figcaption>
        </section>
        </section>
        <!-- formulario stats-->
        <section id="add-stats">
            <h2>Añadir Nueva Partida</h2>
            <form id="stats-form">
                <label for="win-select">Ganaste?:</label>
                <select name="win" id="win" required>
                    <option id=0 value="win">SI</option>
                    <option id=1 value="losse">NO</option>
                </select>
                <label for="kills">Asesinatos?</label>
                <input type="number" id="kills" name="kills" required>
                <label for="deaths">Muertes?</label>
                <input type="number" id="muertes" required>
                <label for="assits">Asistencias?</label>
                <input type="number" id="asistencias" required>
                <label for="assits">Mapa?</label>
                <select name="mapa" id="mapa_id" required>
                    <option id="0">Selecciona el mapa</option>
                    <!-- PARA TRAER LOS AGENTES SE DEBE HACER UN FETCH -->
                </select>
                <!-- boton append a la tabla -->
                <button id="boton" type="submit">AGREGAR</button>
            </form>
        </section>
        <!-- tabla stats -->
        <section id="stats">
            <h2>Estadísticas</h2>
            <div class="hud-scoreboard">
                <div class="stat-block">
                    <div class="label">Partidas Jugadas</div>
                    <div class="value" id="cs2-total-matches">0</div>
                </div>
                <div class="stat-block">
                    <div class="label">Victorias</div>
                    <div class="value" id="cs2-total-wins">0</div>
                </div>
                <div class="stat-block">
                    <div class="label">Derrotas</div>
                    <div class="value" id="cs2-total-losses">0</div>
                </div>
                <div class="stat-block">
                    <div class="label">Winrate</div>
                    <div class="value" id="cs2-winrate">0%</div>
                </div>
            </div>
            <br>
        </section>

        <section id="settings">
            <h2>Configuraciones</h2>
            <p>Ajusta las preferencias de tu cuenta:</p>
            <ul>
                <li>Notificaciones</li>
                <li>Preferencias de idioma</li>
                <li>Modo oscuro</li>
            </ul>
        </section>
        <div class="validacion">
            <p>
                <a href="http://jigsaw.w3.org/css-validator/check/referer">
                    <img style="border:0;width:88px;height:31px"
                        src="http://jigsaw.w3.org/css-validator/images/vcss-blue"
                        alt="¡CSS Válido!" />
                </a>
            </p>
        </div>
    </main>
    <footer>
        <p>&copy; 2024 Game Tracker. Todos los derechos reservados.</p>
    </footer>
    <script src="../assets\js\script.js"></script>
</body>
</html>